<div class="container" id="home">
  {{> nav}}

  <div class="row"> <!--start of row one-->
    <div class="col"> <!--start of row one column-->
      <div class="jumbotron jumbotron-fluid jumbotron-dark">
        <div class="container">
          <h1 class="display-4">Semi-Random Recommendations</h1>
          <h3 class="lead">Let us help you find something new and interesting to watch!</h3>
        </div>
      </div><!--end of jumbotron-->
    </div> <!--end of row one column-->
  </div> <!--end of row one-->

  <div class="row"> <!--start of row two-->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"> 
      <div class="container" id="inputs">
        <form>
          <div class="form-group row">
            <div class="form-group col">
              <label for="type" class="col-sm-3 col-form-label">Type</label>
            </div><!--end of form group row one column one-->
            <div class="form-group col">
              <div class="form-check form-check-inline" id="type">
                  <input class="form-check-input" type="checkbox" id="movies" value="movie">
                  <label class="form-check-label" for="movies">
                    Movies
                  </label>
                </div><!--end of movies form-check div-->
            </div> <!--end of form group row one column two-->
            <div class="form-group col"> 
              <div class="form-check form-check-inline" id="type">
                <input class="form-check-input" type="checkbox" id="tvshows" value="tv">
                <label class="form-check-label" for="tvshows">
                  TV
                </label>
              </div><!--end of TV form-check div-->
            </div><!--end of form group row one column three -->
          </div><!--end of form-group row one-->
        
          <div class="form-group row">
            <label for="genre" class=" form-group col-sm-3 col-form-label">Genre</label>
            <div class="form-group col-sm-9">
              <select class="form-control" id="genre">
                <option value="28">Action</option>
                <option value="12">Adventure </option>
                <option value="16">Animation </option>
                <option value="35">Comedy</option>
                <option value="80">Crime</option>
                <option value="99">Documentary</option>
                <option value="18">Drama</option>
                <option value="10751">Family </option>
                <option value="14">Fantasy</option>
                <option value="36">History</option>
                <option value="27">Horror</option>
                <option value="10402">Music</option>
                <option value="9648">Mystery</option>
                <option value="10749">Romance</option>
                <option value="878">Science Fiction</option>
                <option value="10720">TV Movie</option>
                <option value="53">Thriller</option>
                <option value="10752">War</option>
                <option value="37">Western </option>
              </select>
            </div> <!--end of form group input column-->
          </div><!--end of form-group row two-->

          <div class="form-group row">
            <label for="runtime" class="form-group col-sm-3 col-form-label">Run Time</label>
            <div class="form-group col-sm-9">
              <select class="form-control" id="runtime">
                <option>0-30 Minutes</option>
                <option>31-60 Minutes</option>
                <option>61-90 Minutes</option>
                <option>91-120 Minutes</option>
                <option>121-150 Minutes</option>
                <option>151-180 Minutes</option>
              </select>
            </div> <!--end of form group input column-->
          </div><!--end of form-group row three-->

          <div class="form-group row">
            <label for="rating" class="form-group col-sm-3 col-form-label">Rating</label>
            <div class="form-group col-sm-9">
              <select class="form-control" id="rating">
                <option>0-1</option>
                <option>1-2</option>
                <option>2-3</option>
                <option>3-4</option>
                <option>4-5</option>
                <option>5-6</option>
                <option>6-7</option>
                <option>7-8</option>
                <option>8-9</option>
                <option>9-10</option>
              </select>
            </div> <!--end of form group input column-->
          </div><!--end of form-group row four--> 

          <button type="submit" class="btn btn-info btn-block py-2" id="submit">Give me a recommendation!</button>
          <div id="videoOutput"></div>
          <div id="lists" class="hidden">
            {{#each lists}}
              <button data-id="{{id}}" class="save-item">Add to {{title}}</button>
            {{/each}}
          </div>
        </form>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="container" id="outputs">
        
      </div>
    </div>
    
  </div>
</div>


<script src="/js/home.js"></script>

