<div class="container" id='my-lists'>
  {{> nav}}

  <div class="row" id='mylists-row'>
    <div class="col-3">
      <h1 id='mylists-h1'>
        My Lists
      </h1>

      <div class='container' id='mylists-sidenav'>
        {{#each userLists}}
        <a href="/lists/{{id}}" class="list-btn">
          <button id='mylists-nav-btn'>
            {{title}}
          </button>
        </a>
        {{/each}}

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" id='mylists-add-btn' data-toggle="modal" data-target="#addListModal">
          ADD LIST
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addListModal" tabindex="-1" role="dialog" aria-labelledby="addListModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addListModalLabel">Add a List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="addList-form">
                  <div id='addList-form-input-div'>
                    <label for="listName">List Name</label>
                    <input type="text" id="listName" name="listName" required>
                  </div>
                  <button type="submit" id='create-list'>CREATE</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='col-9'>
      <div class='container' id='mylists-output'>
        {{#if items}}
          {{#each items}}
            <p>{{name}}</p>
          {{/each}}
        {{/if}}
        {{#unless items}}
          <h1>No Items</h1>
        {{/unless}}
      </div>
    </div>
  </div>
</div>


<script src="/js/lists.js"></script>
