<div class="container" id='my-lists'>
  {{> nav}}

  <div class="row" id='mylists-row'> <!--start of row one-->
    <div class="col-3"> <!--start of row one column-->
      <h1 id='mylists-h1'>
        My Lists
      </h1>

      <div class='container' id='mylists-sidenav'>
        <button id='mylists-nav-btn'>
          MOVIES
        </button>

        <button id='mylists-nav-btn'>
          TV SHOWS
        </button>

        <button id='mylists-add-btn'>
          ADD A LIST
        </button>
      </div><!--end of mylists=sidenav container div-->
    </div> <!--end of column one div-->

    <div class='col-9'>
      <div class='container' id='mylists-output'>

      </div>

    </div><!--end of column 2 div-->
  </div> <!--end of row div-->
</div><!--end of container-->


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/mylists.js"></script>
