<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--CSS reset-->
  <link rel="stylesheet" href="../public/css/reset.css">
  <!--Bootstrap CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--Firebase Auth Stylesheet-->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />

 

  <!--link to app stylesheet-->
  <link rel="stylesheet" href="../public/css/style.css">
  <title>Super Awesome Project 1</title>
</head>
<body>
  <div class="container top-container">    
    <!--Navbar-->
    <nav class="navbar navbar-dark default-color">
      <div class="btn">
        <h1>Welcome, <%= name %></h1>
      </div>
      <form id="top-nav" action="/lists">
        <button type="submit" id="my-list" class="btn btn-info btn-md my-2 my-sm-0 ml-3">My List</button>
      </form>
      <form id="top-nav" action="/profile">
        <button type="submit" id="my-profile" class="btn btn-info btn-md my-2 my-sm-0 ml-3">My Profile</button>
      </form>
      <form id="top-nav" action="/home">
        <button type="submit" id="my-profile" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Search</button>
      </form>
      <form class="logout" action="/logout?_method=DELETE" method="POST" >
        <button type="submit" id="login-btn" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Logout</button>
      </form>

    </nav>