<div class="container top-container" id='register-container'>
  <div class="row" id='register-row'>
    <div class="col-12 col-sm-6 col-md-6 col-lg-5 col-xl-4" id='register-col'>
      <div class="card">
        <div class="card-header">
          <h1>Register</h1>
            {{#if messages.error}} 
            <p>{{messages.error}}</p>
          {{/if}}  
        </div> <!--end of card header div-->
        <div class="card-body" id='register-card-body'>
          <form action="/register" method="POST">
            <div id='register-form-input-div'>
              <label for="name">First Name</label>
              <input type="text" id="firstName" name="firstName" required>
            </div>
            <div id='register-form-input-div'>
              <label for="name">Last Name</label>
              <input type="text" id="lastName" name="lastName" required>
            </div>
            <div id='register-form-input-div'>
              <label for="email">Email</label>
              <input type="email" id="email" name="email" required>
            </div>  
            <div id='register-form-input-div'>
              <label for="password">Password</label>
              <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Register</button>
          </form>
          <div id='register-links'>
            <a href="/login">LOGIN</a>
            <a href="/">CANCEL</a>
          </div><!--end of register-links div-->
        </div><!--end of card body div-->
      </div><!--end of card div-->
    </div><!--end of col div-->
  </div><!--end of row div-->
</div><!--end of container div-->
  







