<div class="container" id='account-settings'>
  {{> nav}}

  <div class="row" id='settings-row'> <!--start of row one-->
    <div class="col-12"> <!--start of row one column-->
      <div class='container' id='settings-container'>
        <h1 id='settings-h1'>
          Account Details
        </h1>
        <div class="d-flex flex row" id='settings-flex-row'>
          <h2 class='settings-h2'>Name:</h2> 
          <p class='account-details-p'>{{name}}</p>
          <!--update name modal trigger-->
          <button type='button' class='btn' id='update-name-button' data-toggle='modal' data-target='#update-name-modal'> UPDATE</button>
        </div>

        <div class="d-flex flex row flex-sm-wrap"id='settings-flex-row'>
          <h2 class='settings-h2'>Email:</h2>
          <p class='account-details-p'>{{email}}</p> 
          <!-- update email modal trigger -->
          <button type='button' class='btn' id='update-email-button' data-toggle='modal' data-target='#update-email-modal'> UPDATE</button>
        </div>

        <div class="d-flex flex row" id='settings-flex-row'>
          <h2 class='settings-h2'>Password:</h2>
          <p class='account-details-p'>XXXXX</p> 
          <!-- update password modal trigger -->
          <button type='button' class='btn' id='update-password-button' data-toggle='modal' data-target='#update-password-modal'> UPDATE</button>
        </div>

        <!-- update name modal-->
        <div class="modal fade" id="update-name-modal" tabindex="-1" role="dialog" aria-labelledby="update-name-modal-label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="update-name-modal-label">UPDATE NAME</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div><!--end of modal-header div-->
              <div class="modal-body">
                <form action="/updatePassword" method="POST">
                  <div class='update-name-form-input-div'>
                    <label for="name">name</label>
                    <input type="text" id="name" name="name" required>
                  </div><!--end of form input div 1-->
                  
                  <button type="submit" id='update-name-submit-button'>UPDATE NAME</button>
                </form>
              </div><!--end of modal-body div-->
            </div><!--end of modal-content div-->
          </div><!--end of modal-dialog div-->
        </div><!--end of update email modal div-->



        
        <!-- update email modal-->
        <div class="modal fade" id="update-email-modal" tabindex="-1" role="dialog" aria-labelledby="update-email-modal-label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="update-email-modal-label">UPDATE EMAIL</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div><!--end of modal-header div-->
              <div class="modal-body">
                <form action="/updatePassword" method="POST">
                  <div class='update-email-form-input-div'>
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" required>
                  </div><!--end of form input div 1-->
                  
                  <button type="submit" id='update-email-submit-button'>UPDATE EMAIL</button>
                </form>
              </div><!--end of modal-body div-->
            </div><!--end of modal-content div-->
          </div><!--end of modal-dialog div-->
        </div><!--end of update email modal div-->


        <!--modal-->
        <div class="modal fade" id="update-password-modal" tabindex="-1" role="dialog" aria-labelledby="update-password-modal-label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="update-password-modal-label">Update Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div><!--end of modal-header div-->
              <div class="modal-body">
                <form action="/updatePassword" method="POST">
                  <div class='update-password-form-input-div'>
                    <label for="currentPassword">Current Password</label>
                    <input type="text" id="currentPassword" name="currentPassword" required>
                  </div><!--end of form input div 1-->

                  <div class='update-password-form-input-div'>
                    <label for="newPassword">New Password</label>
                    <input type="text" id="newPassword" name="newPassword" required>
                  </div><!--end of form input div 2-->

                  <div class='update-password-form-input-div'>
                    <label for="newPasswordReenter">Re-enter New Password</label>
                    <input type="text" id="newPasswordReenter" name="newPasswordReenter" required>
                  </div><!--end of form input div 3-->

                  <p id='passwordUpdateMessage'></p>
                  
                  <button type="submit" id='update-password-submit-button'>UPDATE PASSWORD</button>
                </form>
              </div><!--end of modal-body div-->
            </div><!--end of modal-content div-->
          </div><!--end of modal-dialog div-->
        </div><!--end of modal div-->
      </div><!--end of settings-container div-->
    </div> <!--end of column div-->

  </div> <!--end of row div-->
</div><!--end of container-->

