@font-face {
  font-family: 'SfHollywoodHills-aPxE' ;
  src: url(../fonts/shyfoundry_sf-hollywood-hills/SfHollywoodHills-aPxE.ttf) format('truetype')
}

* {
  box-sizing: border-box;
}

body {
  background: url(../images/congruent_outline.png);
}

#inputs, #outputs {
  padding: 20px;
  background: #e9ecef;
  height: 100%;
}

#inputs { 
  display: flex; 
  justify-content: space-evenly;
}

#outputs {
  text-align: center;
  font-family: 'SfHollywoodHills-aPxE';
  font-size: 24px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'SfHollywoodHills-aPxE'
}

img, iframe{
  margin: 0 15px 15px 0;
  display: block;
  width: inherit;
}

/*Navbar Styling*/
nav {
  background-color: #8e44ad;
}

#lists {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.flex-center {
  display:flex;
  justify-content:center; 
  flex-wrap: wrap;
}

#login-btn {
  align-self: flex-end;
}

#topnav-home-btn {
  font-size: 28px;
}

.btn {
  color: #ffffff;
  font-size: 18px;
  background-color: #8e44ad;
  border-color: #8e44ad;
}

.btn-info {
  color: #ffffff;
  font-family: 'SfHollywoodHills-aPxE';
}

#guest-games, #guest-movies {
  align-self: flex-start;
}

/* Login & Register Page Styling */
#login-container, #register-container {
  margin: auto
}

.login-text {
  font-family: 'SfHollywoodHills-aPxE';
}

#login-row, #register-row {
  margin-top: 30%;
}

#login-col, #register-col {
  margin: auto;
  max-width: fit-content;
  padding: 0;
}

#login-card-body, #register-card-body {
  display: flex;
  flex-direction: column;
}

#login-form-input-div, #register-form-input-div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#login-links, #register-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  padding-right:10px;
  margin: 0;
}

button {
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  max-width: fit-content;
  display: flex;
  align-self: center;
}

h1, h3 {
  text-align: center;
  font-family: 'SfHollywoodHills-aPxE';
}



input {
  font-family: sans-serif;
  font-size: 12px;
}

#modal-text {
  color: black;
  font-size: 24px;
  font-family: 'SfHollywoodHills-aPxE';
}

.jumbotron {
  margin-top: 30px;
}

form {
  font-family: 'SfHollywoodHills-aPxE';
  font-size: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

select {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}

/*My Lists */
#mylists-row {
  margin-top: 30px;
  min-height: 800px;
}

#mylists-h1 {
  color: #e9ecef;
  font-size: 28px;
}

#mylists-output, #mylists-sidenav {
  padding: 20px;
  background: #e9ecef;
  height: 96%;
  display: flex; 
  justify-content: space-evenly;
}

#mylists-sidenav {
  height: 90%;
  background: none;
  flex-direction: column;
  justify-content: start;
}

#mylists-nav-btn, #mylists-add-btn {
  min-width: -webkit-fill-available;
  justify-content: center;
  text-transform: uppercase;
}

#mylists-nav-btn {
  width: 200px;
}

.list-btn {
  color: black;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.list-item {
  background-color: #8e44ad;
  border: 2px solid black;
  padding: 5px;
  height: 30px;
color: white;
}

/* Account Settings Styling */
#settings-row {
  margin-top: 30px;
  min-height: 800px;
}

#settings-h1 {
  color: #8e44ad;
  font-size: 28px;
  margin: 20px;
}

.settings-h2 {
  margin-bottom: 0;
  color: #8e44ad;
}

#settings-container {
  padding: 20px;
  background: #e9ecef;
}

#settings-flex-row {
  justify-content: space-between;
  align-items: baseline;
  margin-left: 10px
}

.modal-content {
  max-width: fit-content;
}

#update-name-button, #update-email-button, #update-password-button {
  min-width: fit-content;
  justify-content: center;
  text-transform: uppercase;
  margin: 0 20px 0 20px;
  font-size: 12px;
  align-self: baseline;
}

.update-password-form-input-div {
  display: flex;
  align-self: flex-end;
}

#update-name-submit-button, #update-email-submit-button, #update-password-submit-button {
  margin: 10px;
}

.account-details-p {
  flex-grow: 2;
  text-align: start;
  margin-left: 10px;
  font-size: 18px;
}

/*Games page styling */
#gameTitleH1 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) { 
  nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) { 
  .display-4 {
    font-size: 36px;
  }
  img {
    display: block;
  }
  .jumbotron {
    margin: 15px 0 15px 0;
  }

  #settings-flex-row {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .account-details-p {
    font-size: 10pt
  }

  #update-name-button, #update-email-button, #update-password-button {
    align-self: center;
  }

  .settings-h2 {
    margin-top: 10px;
  }

}


.conf-canvas{
  position: absolute;
  z-index: -1;
}


