@font-face {
  font-family: 'SfHollywoodHills-aPxE' ;
  src: url(../fonts/shyfoundry_sf-hollywood-hills/SfHollywoodHills-aPxE.ttf) format('truetype')
}

* {
  box-sizing: border-box;
}

body {
  background: url(../images/congruent_outline.png);
}

#inputs, #outputs {
  padding: 20px;
  background: #e9ecef;
  height: 100%;
}

#inputs { 
  display: flex; 
  justify-content: space-evenly;
}

#outputs {
  text-align: center;
  font-family: 'SfHollywoodHills-aPxE';
  font-size: 24px;
}

/*Navbar Styling*/
nav {
  background-color: #8e44ad;
}

#login-btn {
  align-self: flex-end;
}

#topnav-home-btn {
  font-size: 28px;
}

.btn {
  color: #ffffff;
  font-size: 18px;
  background-color: #8e44ad;
  border-color: #8e44ad;
}

.btn-info {
  color: #ffffff;
  font-family: 'SfHollywoodHills-aPxE';
}

/* Login Page Styling */
#login-container, #register-container {
  margin: auto
}

.login-text {
  font-family: 'SfHollywoodHills-aPxE';
}

#login-row, #register-row {
  margin-top: 30%;
}

#login-col, #register-col {
  margin: auto;
  max-width: fit-content;
  padding: 0;
}

#login-card-body, #register-card-body {
  display: flex;
  flex-direction: column;
}

#login-form-input-div, #register-form-input-div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#login-links, #register-links {
  display: flex;
  justify-content: space-evenly;
}

label {
  padding-right:10px;
  margin: 0;
}

button {
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  max-width: fit-content;
  display: flex;
  align-self: center;
}


h1, h3 {
  text-align: center;
  font-family: 'SfHollywoodHills-aPxE';
}



#modal-text {
  color: black;
  font-size: 24px;
  font-family: 'SfHollywoodHills-aPxE';
}

.jumbotron {
  margin-top: 30px;
}

form {
  font-family: 'SfHollywoodHills-aPxE';
  font-size: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

select {
  font-family: sans-serif;
}





p {
  font-family: sans-serif;
  font-size: 12px;
}

img {
  margin: 0 15px 15px 0;
}

@media screen and (max-width: 576px) { 
  .display-4 {
    font-size: 36px;
  }
  img {
    display: block;
  }
  .jumbotron {
    margin: 15px 0 15px 0;
  }
}


.conf-canvas{
  position: absolute;
  z-index: -1;
}


